{{#>layout }}
    <link rel="stylesheet" href="{{ url host "chat/css/chat.css" }}">
    <script defer src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script defer src="{{ url host "chat/js/chat.js" }}"></script>
    <div class="content-placer">
        <div class="chat">
            <p>{{ error }}</p>
        </div>
        <div class="input">
            <input id="input" type="text" placeholder="Message...">
            <button id="send"><img src="{{ url host "chat/img/send.svg" }}" alt=""></button>
        </div>
    </div>
    
{{/layout}}