{{#>layout}}
    <link rel="stylesheet" href="home/css/index.css">
    <div class="content-placer">
        <img src="home/img/anonim.png" alt="">
        <button class="start-button">Get started!</button>
    </div>
{{/layout}}