{{#>layout }}
    <link rel="stylesheet" href="{{ url host "search/css/search.css" }}">
    <script defer src="{{ url host "search/js/search.js" }}"></script>
    <div class="content-placer">
        <div class="search-window">
            <div class="board">
                <h2 style="color: white">Таймер пошуку: <span class="timer-text">0с</span></h2>
                <div class="timerbg">
                    <div class="timer"></div>
                </div>
                <h2 class="error">Чат не було знайдено, спробуйте ще раз</h2>
            </div>
            <button id="search-button" type="button"><img id="search-image" src="{{ url host "search/img/the_lupa.png" }}" alt="">Пошук</button>
        </div>
    </div>
{{/layout}}