.content-placer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: calc(100vh - 10.2vh);
    background-image: url("../img/background.png");
    /* gap: 7.4vh; */
    padding: 7.4vh 0px;
    box-sizing: border-box;
}

.start-button{
    width: calc(14.8vw + 25.9vh);
    height: calc(4.2vw + 7.5vh);
    background-color: white;
    font-size: calc(2.1vw + 3.8vh);
    border: 0px;
    border-radius: calc(100vw + 100vh);
}

.content-placer img{
    height: 45%;
}